[client]
port={{ mysql_port }}
socket=/var/lib/mysql/mysql.sock

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[mysqld]
user=mysql
port={{ mysql_port }}
socket=/var/lib/mysql/mysql.sock
datadir=/var/lib/mysql
max_allowed_packet=16MB
symbolic-links=0

skip-external-locking

character-set-server={{ mysql_character_set_server | default("utf8") }}
collation-server={{ mysql_collation_server | default("utf8_general_ci") }}

slow_query_log
long_query_time=1
